
.maintitle {
 padding: 25px;
 border: 10px solid 	#000000;
 margin: 50px;
}


body {
background-color: yellow;
}

h1 {
font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

p {
 font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

ul{
 display: table;
 margin: 0 auto;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.About {
 padding: 10px;
 border: 20px;
 margin-top: 25px;
}

.social-media {
 padding:10px;
 border: 20px;
 margin: 25px;
}
