
.maintitle {
 padding: 25px;
 border: 10px solid 	#000000;
 margin: 50px;
 /* font-family: 'Ubuntu', sans-serif; */
}


body {
background-color: yellow;
 font-family: 'Ubuntu', sans-serif;
}

/* h1 {
font-family: 'Ubuntu', sans-serif;
} */

/* p {
 font-family: 'Ubuntu', sans-serif;
} */

ul{
 display: table;
 margin: 0 auto;
 /* font-family: 'Ubuntu', sans-serif; */
}

.About {
 padding: 10px;
 border: 20px;
 margin-top: 25px;
 background-image: url("images/1200px-Andrew_Classroom_De_La_Salle_University.jpeg");
 background-attachment: fixed;
 opacity: 0.5;
 /* font-family: 'Ubuntu', sans-serif; */
}

.social-media {
 padding:10px;
 border: 20px;
 margin: 25px;
 /* font-family: 'Ubuntu', sans-serif; */
}
